body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.wrapper {
  background-color: #134880;
  position: absolute;
  width: 840px;
  height: 370px;
  border-radius: 5px;
}
.container {
  display: grid;
  grid-template: 40px 110px 110px 40px/ 140px 140px 140px 140px 200px;
  grid-gap: 5px;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
  width: 800px;
  background-color: white;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 10px;
}
.bar3 {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 6;
  border: 1px solid #dddddd;
  opacity: calc(20%);
  border-radius: 10px;
}
.bar2 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  border: 1px solid #dddddd;
  opacity: calc(20%);
  border-radius: 10px;
}
.bar {
  grid-column-start: 3;
  grid-column-end: 6;
  border: 1px solid #dddddd;
  opacity: calc(20%);
  border-radius: 10px;
}
.btns {
  grid-row-start: 3;
  grid-column-start: 4;
  justify-self: end;
}
.btnR,
.btnL {
  width: 7px;
  height: 11px;
  border: 1px solid #dddddd;
  padding: 17px;
  border-radius: 5px;
}
.text {
  grid-column-start: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-left: 40px;
  margin-top: -20px;
  text-align: left;
  color: #134880;
}
.text p {
  font-size: 13px;
}
.content1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  display: flex;
  position: relative;
  overflow-x: hidden;
  width: 615px;
}
.content2 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  display: flex;
  gap: 10px;
  overflow-x: hidden;
  width: 415px;
}
img {
  border-radius: 3px;
}
.slider1 {
  display: flex;
  gap: 10px;
  position: relative;
}
.slider2 {
  display: flex;
  gap: 10px;
  position: relative;
}
