.container {
  display: grid;
  grid-template: 40px 110px 110px 40px/ 140px 140px 140px 140px 140px 150px;
  grid-gap: 5px;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
}
.container img {
  border-radius: 10px;
}
.bar3 {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 6;
  border: 1px solid gray;
  background-color: gray;
  opacity: calc(20%);
  border-radius: 10px;
}
.bar2 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  border: 1px solid gray;
  background-color: gray;
  opacity: calc(20%);
  border-radius: 10px;
}
.bar {
  grid-column-start: 3;
  grid-column-end: 6;
  border: 1px solid gray;
  background-color: gray;
  opacity: calc(20%);
  border-radius: 10px;
}
.slika {
  grid-row-start: 2;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.slika2 {
  grid-row-start: 3;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.btns {
  grid-row-start: 3;
  grid-column-start: 5;
  justify-self: end;
}
.btn {
  width: 10px;
  height: 15px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.text {
  grid-row-start: 2;
  grid-row-end: 4;
  margin-left: 20px;
  margin-top: -20px;
}
